<!DOCTYPE HTML>
<html>
<body></body>
<head>
  <meta charset="utf-8">
  <title>Hi Dexter</title>
</head>
<style>
ul {
    list-style-type: none;
    margin: 0 0 0 100px;
    padding: 0;
    overflow: hidden;
    }

li {
    float: left;
	border-right: 1px solid #bbb
}

form {
    text-align : center
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 50px 50px;
	text-decoration: none;
	background-color: #333;
}

li a:hover {
    background-color: #0099ff;
}
</style>



<div>
</div>

<body background="https://upload.wikimedia.org/wikipedia/commons/1/1d/Kawasaki_c751_eunos.jpg">
<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#reportaproblem">Report a Problem</a></li>
    <li><a href="#account">Login/Register</a></li>
    <li><a href="#Excuse Pass">Proof for E-Excuse Pass for Train Breakdown</a>
</ul>
<div>
<form method ="POST" action="">
    <h1>Problems</h1>
    <br>
        <div class="form-group">
            <div class="form-row">
                {{ render_field(form.problem, class_="radio-inline") }}
            </div>
        </div>
    <br>
    Description:<br>
    <input type="textfield" problem="Problem">
    <br>
    Location:<br>
    <input type="text" location="Location">
    <br>
    <input type="submit" Value="submit">
</form>
</div>
</body>

</html>